# Environment variables for the WordPress service

# Domain name for the WordPress site
DOMAIN_NAME=yaltayeh.42.fr

# WordPress database credentials
WORDPRESS_DB_NAME=wordpress
WORDPRESS_DB_USER=wordpress
WORDPRESS_DB_PASSWORD=wp_password

# WordPress admin credentials
# Note: Change these values for security reasons
# can't contain Admin or admin in the username, otherwise WordPress will not allow it
WORDPRESS_ADMIN_USER=superuser
WORDPRESS_ADMIN_PASSWORD=Admin1234
WORDPRESS_ADMIN_EMAIL=admin@yaltayeh.42.fr

# WordPress site title
WORDPRESS_SITE_TITLE="yaltayeh's WordPress Site"

# WordPress locale (e.g., en_US, ar, fr_FR)
WORDPRESS_LOCALE=ar
